<app-title-header titleText="Statement List"></app-title-header>
<div class="card" style="margin: 10px;padding: 1rem;">
  <app-title-header [exportLoader]="exportLoader" [showExport]="true" (onExport)="btnGridAction()" [startEndDates]="dateValue" [maxDate]="todayDate" [searchButton]="true" (onSearch)="searchSettlement($event)"></app-title-header>
  <app-advance-table [DataLoader]="settlementCollumnLoading" [rowCount]="rowCount" [TableCollumnData]="settlementCollumns" [TableData]="settlementRows"></app-advance-table>
  <app-advance-table-paginator [DataLoader]="settlementCollumnLoading" [pageNo]="currentQuery.PageNo" [paginatorBlock]="paginatorBlock" [rowCount]="rowCount" [pageCount]="pageCount" [selectedPageCount]="currentQuery.PageSize" [pagesTotal]="pagesTotal" (onPaginatorChange)="onPaginatorChange($event)"></app-advance-table-paginator>
</div>