<ng-container *ngIf="!DataLoader">
    <div class="card" style="margin-bottom: 0rem;overflow-x: auto;">
        <table>
            <thead>
                <ng-container *ngFor="let TCR of TableCollumnData; index as rowIndex">
                    <tr>
                        <ng-container *ngFor="let TCD of TCR; index as rowHeadIndex">
                            <ng-container *ngIf="TCD.colspan;else normalSpan">
                                <th class="{{TCD.bg}}" [attr.colspan]="TCD.colspan" >{{TCD.value}}</th>
                            </ng-container>
                            <ng-template #normalSpan>
                                <ng-container *ngIf="TCD.icon;else noIcon">
                                    <ng-container *ngIf="TCD.icon=='Download'">
                                        <th class="{{TCD.bg}}">
                                            <i class="fa fa-download" (click)="buttonRowPressed(rowIndex,rowHeadIndex,TCD.downloadvalue)" title="Click to Download"></i>
                                            &nbsp;{{TCD.value}}
                                        </th>
                                    </ng-container>
                                    <ng-container *ngIf="TCD.icon=='Loading'">
                                        <th class="{{TCD.bg}}">
                                            <i class="fa fa-spinner fa-spin"></i>
                                            &nbsp;{{TCD.value}}
                                        </th>
                                    </ng-container>
                                </ng-container>
                                <ng-template #noIcon>
                                    <th class="{{TCD.bg}}">{{TCD.value}}</th>
                                </ng-template>
                            </ng-template>
                        </ng-container>
                    </tr>
                </ng-container>
            </thead>
            <tbody>
                <ng-container *ngFor="let TD of TableData; index as rowIndex">
                    <tr class="mat-row">
                        <ng-container *ngFor="let KV of TD; index as cellIndex">
                            <ng-container *ngIf="!KV.icon;else ActiveCell">
                                <td class="mat-cell {{KV.bg}}">
                                    {{KV.value}}
                                    <span *ngIf="KV.sufText" style="color: #666;font-weight: lighter;font-size: 0.5rem;">{{KV.sufText}}</span>
                                </td>
                            </ng-container>
                            <ng-template #ActiveCell>
                                <td class="mat-cell {{KV.bg}} fonthover" *ngIf="KV.icon">
                                    <ng-container *ngIf="KV.icon=='View'">
                                        <i class="fa fa-eye"></i>&nbsp;
                                    </ng-container>
                                    <ng-container *ngIf="KV.icon=='Add'">
                                        <button type="button" (click)="buttonPressed(rowIndex,cellIndex,'Add')" mat-raised-button color="primary">Add {{KV.value}}</button>
                                    </ng-container>
                                    <ng-container *ngIf="KV.icon=='Download'">
                                        <i class="fa fa-download" (click)="buttonPressed(rowIndex,cellIndex,KV.downloadvalue)" title="Click to Download"></i>
                                        &nbsp;{{KV.value}}
                                    </ng-container>
                                    <ng-container *ngIf="KV.icon=='Delete'">
                                        <button type="button" (click)="buttonPressed(rowIndex,cellIndex,'Delete')" class="deleteBtn" mat-raised-button color="warn"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                    </ng-container>
                                    <ng-container *ngIf="KV.icon=='Toggle'">
                                        <mat-slide-toggle [checked]="(KV.value == 1)||(KV.value == true) ? true : false" (change)="setToggleChange(rowIndex,cellIndex,$event)"></mat-slide-toggle>
                                    </ng-container>
                                    <ng-container *ngIf="KV.icon=='None'">
                                        <button type="button" class="btn btn-primary font7" (click)="buttonPressed(rowIndex,cellIndex,'Action')" style="font-size: 0.75rem;font-weight: 500;">{{KV.value}}</button>
                                    </ng-container>
                                    <ng-container *ngIf="KV.icon=='Loading'">
                                        <i class="fa fa-spinner fa-spin"></i>
                                        &nbsp;{{KV.value}}
                                    </ng-container>
                                </td>
                            </ng-template>
                        </ng-container>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
    </ng-container>
    
    <ng-container *ngIf="DataLoader">
        <mat-spinner style="left: 40%;margin: 3rem;"></mat-spinner>
    </ng-container>
    